<div class="header container-fluid">
  <div class="row">
    <div class="col-sm-4 header-logo">
      <img src="https://lh3.googleusercontent.com/syFUHPJAwIhvzPb_1Ok8ZFjGTuYVV-6Vs8eYCoBVWsWGzQVxGCMzsG3bq4Nz6XL2AGHB6XVU6kZ8APSuv6ukdc6i9KYawC_XrbJ-9sNtro6p5fOV_auLx83c8_gog-tU8YYUMt2rMQiGhd_zdre0F0q1Jc79mTy6d1jUDQNSsBiy4T7EaiZR-6bHqk3KXSDc-y2sVJ1CX3cBjah7fFrHTpx31S3e5LozIQ-WCUb9LErw14oVhILwgnU8UB3sILbriNQaE1rO5rxdsuswo9Oi7k5xGtaq-MNqQwBtVtqq3nR-jzGajz3VJ1fyqtl5XjLnvurUnfAS8ye6Kp2Z185eVVZ_dMsO9rjpNq8FSjWqlZjViTgz7sUIKvhSQ-ziEq0bMclxbl9DGrCV_U2B09fjFAGHFZdZAfyz8ofyUFqy-Z8byg1Vcuv-lwwcjwPRDJmrT8lLzE302f1BoIiQ7ejJ-UESqwvQW7YhPEhmX7EtRnGzyDMm-cNc4rk93Z_v-sxuWWdHt-9046jqFbEgS5KPJK4SBmRFUD5EcBHfJOeqidpOosvss3W7S-c4_ZpeC-yACzfmjAqO1WwnhMIl3cDWRz2mgVEeMgEBeuzohZ0NL3qsypxnrhKjyYpxfZy7Kxer-fPUrxqVx4TOCNaZAzysvc4p_r3boYc=w1115-h665-no" class="header-logo-img" />
    </div>
    <div class="col-sm-7 header-login">
      <span class="btn">Sign in</span>
      <span class="btn-get-started">GET STARTED</span>
    </div>
  </div>
</div>
<router-outlet></router-outlet>