.header {
  padding-top: 10px;
  height: 100px;
}
.header-logo {
  text-align: center;
}
.header-logo-img {
  margin-top: 10px;
  height: 60px;
}
.header-login {
  text-align: right;
  float: right;
  margin-top: 20px;
}

