<div class="container-fluid">
  <div class="top-text-container container-fluid">
    <div class="row">
      <h1 class="top-text">Share your life</h1>
      <h2 class="top-text top-text-h2">Somewhere in the world, someone is about to be inspired by your story</h2>
    </div>    
    <div class="row">
      <div class="container how-to-container">
        <div class="row how-to-row">
          <div class="col-sm-2 gient-number-container">
            <span class="gient-number">1</span>
          </div>
          <div class="col-sm-10">
            <h3>Tell us about a day in your life.</h3>
            <span>What do you spend your time doing?</span>
          </div>
        </div>
        <div class="row how-to-row">
          <div class="col-sm-2 gient-number-container">
            <span class="gient-number">2</span>
          </div>
          <div class="col-sm-10">
            <h3>The good, the bad and the ugly</h3>
            <span>What do you love about your day? What's the most challenging part of your day? 
              What's something about your industry or what you do that you didn't expect?  </span>
          </div>
        </div>
        <div class="row how-to-row">
          <div class="col-sm-2 gient-number-container">
            <span class="gient-number">3</span>
          </div>
          <div class="col-sm-10">
            <h3>Your journy</h3>
            <span>How did you get to do this for a living? would you have done anything different knowing what you do now?</span>
          </div>
        </div>
        <div class="row get-started-row" routerLink="/vid-recording">
          <div class="col">
            <span class="btn-get-started" >
              GET STARTED
            </span>
          </div>
        </div>
      </div>
    </div>    
  </div>
  
<router-outlet></router-outlet>