<!--The content below is only a placeholder and can be replaced.-->
<div class="selection-pane container-fluid">
  <div class="row">
    <div class="col-sm-2 selection-pane-img">
      <img src="https://lh3.googleusercontent.com/PEUfVf1GmAP4diIiPnN4FpNlAxNGWJEqteTOHq_48MNtht3xgb5UxHEf3feXSEP5KEFOMDgaztmyNOKpiYxDfg92sGvYNeYxH2KzK-EtuyvB72UDSI0McOH36Tt5efIDEEyBKC_cHLojM21pXfv97nZcmV2-AC-FG65s8ladDdU5pczbFtQb7oeOt9a0ga7yveL_pG-Gz6UwPYMvNVbcoz72EKZXLSeM3ONSy4u-43QpZdssHBtTEhYkvLdzkEGO-or3ITKtO0vQs_4mSrD7ydcKgbIY8oNAI5ZiglTnqQ6nb68SNN631HtDNkyfeiTU8F9sx0N7opOox9KX3fg75jsoz3HfcbegZ3F__ooWnUvg9Lw_MYH5LSgx4aJ7fqm-wgUQ_GlYdV9FHH1Fwp8geQD-6VHAQnYP3Xb4jxCaT4pBBy1Gg4_0kFLvr3GPB73QzXaswyxRfxJpVFwRQRX4RNluGr7gHADT38iUJFU3kKjjj1ObmF0fHjHfm6yv8YEqHDzhd6E5pyFheGCt-IRpY5TwHwTidivL8rCaloqmfbTCIlW5t13sfve01UAmYHrbP_JtB7GJEz0rFGg9XQi3KxE_1dpcUBnZ8suIHyfLHl0Yy9mDCC6GiR4rYiDTF3M5kXzdFVsNug0T8JdTa9BrPsG0HiD7uU8=w1712-h1934-no" />
      <div class="selection-pane-undertext">
        <h3>Michael Siebel</h3>
        <p>A day in life of CEO and partner at YCombinator</p>
        <p>Living in San-francisco</p>
      </div>
    </div>
    <div class="col-sm-2 selection-pane-img"></div>
    <div class="col-sm-2 selection-pane-img"></div>
    <div class="col-sm-2 selection-pane-img"></div>
    <div class="col-sm-2 selection-pane-img"></div>
    <div class="col-sm-2 selection-pane-img"></div>
  </div>
</div>
<div class="info-pane container-fluid">
  <div class="row">
    <div class="col-lg-5 col-md-12 info-pane-text info-left" routerLink="/heroes">
      <div class="row">
        <div class="col-sm-4">
          <img class=" info-img" src="https://lh3.googleusercontent.com/mpCOrSPKrtYpbmDuaoFGxqSTKp5MC3aOX_eL0LKmwNdRk-oi0_W9GmPmIuSj611Lg8p90Ik4JofLefyXsNZ7Rcu90-3OMFOPHZ_mH3EN0_wh9inEE8VodKgSjO_e2KQyCB37HlJERVltaaWUfg1VUeHz1klLF0LGc3WADCA-MmHCF_Y-1E2jjFE7uwgjR7NXKF_467Tp14o1yhBwecE_FXrmsxYbDmXA3dxQN0CF3tigZn7E8aJXidftH41PmWjPlsGR1A-pE9xYK_zgsgI9G2Zq00UZDa7QbXy07scmfLLVmaLz6Y9pE2W3gzPH5P4YZeZ-MeR0BlLmBmz973PgQSg8yfc4huVlJUcg3BqtOBUFO8ifd5OtK_zbrya8ME_mdUKp1KLb9TuD91tJkHf66u-XbMVvfgrroJU2plQGITCBdjIWMyPgUz5Yzch6nOzFfMtkrZBFSm-c3xOZ2pVAVFVaIIQLIldnKADWmzQVkTae46qsBn5Buwl5OjCHNgWSLW_X3wmUUZoRhEcZC3SxBardCAn4F8SxT1si933f3Bvjv7DDCWLPUuF4cfqBDMxoaR0bsb8zXr_w6y9Z0nj_u4q6IKrgvjdUDI1qjtgaUtv_-Y-0-IW-BcKXte-oN7SANfPAq9WVRZyl3SGUy4RrU43OpIQEaQ0=w779-h797-no" />
        </div>
        <div class="col-sm-8 info-text">
          <h1>See Lives</h1>
          <h2>See the lives of people around the world</h2>
          <h2>find the life you're meant to live</h2>
          <h2>and a path to get there</h2>
        </div>
      </div>
    </div>
    <div class="col-lg-2"></div>
    <div class="col-md-12 col-lg-5 info-pane-text info-right">
      <h1>Share my life</h1>
    </div>
  </div>
</div>
<script
  src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
  integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
  crossorigin="anonymous"
></script>
<script
  src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
  integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
  crossorigin="anonymous"
></script>
<script
  src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
  integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
  crossorigin="anonymous"
></script>
<router-outlet></router-outlet>