body {
  color: #525c65;
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
}
.top-text-container{
  margin-top:0px;
}

.top-text{
  width:100%; 
  text-align:center;
}

.btn-get-started {
  height: 30px;
  padding: 6px 10px;
  border-radius: 4px;
  margin-left: 30px;
  color: white;
  box-shadow: 0px 0px 9px #888888;
  background-color: #4286f4;
}