<div class="top-text-container container-fluid">
  <div class="row">
   <h1 class="top-text">See the lives around the world</h1>
  </div>
</div>
<div class="container-fluid search-bar-container">
  <div class="row search-bar mx-aut">
   <ngx-select-dropdown [config]="config" [options]="dropdownOptions" 
            [(ngModel)]="dataModel" [multiple]="true" ></ngx-select-dropdown>
  </div>
</div>
<div class="container-fluid gallery-container">
  <div class="row row-sm-4up row-lg-6up row-skinny">
    <div class="col">
      <div class="thumbnail">
        <img src={{thumbnail}}/>
      </div>
      <div class="undertext"></div>
    </div>
    <div class="col">
      <div class="thumbnail">
        <img src={{thumbnail}}/>
      </div>
      <div class="undertext"></div>
    </div>
    <div class="col">
      <div class="thumbnail">
        <img src={{thumbnail}}/>
      </div>
      <div class="undertext"></div>
    </div>
    <div class="col">
      <div class="thumbnail">
        <img src={{thumbnail}}/>
      </div>
      <div class="undertext"></div>
    </div>
    <div class="col">
      <div class="thumbnail">
        <img src={{thumbnail}}/>
      </div>
      <div class="undertext"></div>
    </div>
    <div class="col">
      <div class="thumbnail">
        <img src={{thumbnail}}/>
      </div>
      <div class="undertext"></div>
    </div>
    <div class="col">
      <div class="thumbnail">
        <img src={{thumbnail}}/>
      </div>
      <div class="undertext"></div>
    </div>
    <div class="col">
      <div class="thumbnail">
        <img src={{thumbnail}}/>
      </div>
      <div class="undertext"></div>
    </div>
    <div class="col">
      <div class="thumbnail">
        <img src={{thumbnail}}/>
      </div>
      <div class="undertext"></div>
    </div>
    <div class="col">
      <div class="thumbnail">
        <img src={{thumbnail}}/>
      </div>
      <div class="undertext"></div>
    </div>
    <div class="col">
      <div class="thumbnail">
        <img src={{thumbnail}}/>
      </div>
      <div class="undertext"></div>
    </div>
    
    
  </div>
</div>