.top-text-container{
  margin-top:0px;
}

.top-text{
  width:100%; 
  text-align:center;
}

.search-bar-container{
  background-color:#efefef;
  height:50px;
  margin-top:30px;
}

.gallery-container{
  height:70vh;
  max-width:1180px; 
  margin-top:5vh; 
}

.thumbnail{
  margin-top:30px;
}

.search-bar{
  max-width:1180px;
}